<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'myApp/css/styles.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">


</head>
<body style="background: #fafafa; color: #333333;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        {% if user.is_authenticated %}
        <a class="navbar-brand" href="/"><h3
                style="font-family: 'Merienda One', cursive; font-size: 2rem; font-weight: bolder;">Catlog</h3></a>
        {% else %}
        <a class="navbar-brand" href="{% url 'login' %}"><h3
                style="font-family: 'Merienda One', cursive; font-size: 2rem; font-weight: bolder;">Catlog</h3></a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'myApp-home' %}">Home <span class="sr-only">(current)</span></a>

                    {% endif %}

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>

            </ul>

        </div>
        <div class="navbar-nav">

            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'post_create' %}">New post</a>
            <a class="nav-link" href="{% url 'user_post_profile' user.username%}">Profile</a>
            <a class="nav-link" href="{% url 'logout' %}">Log out</a>

            {% else %}
            <a class="nav-link" href="{% url 'login' %}">Log in</a>
            <a class="nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success" style="margin-top:1rem; ">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>

<!--        <div class="col-md-4">-->
<!--            <div class="shadow bg-white rounded" style="width:20.6rem;">-->
<!--                <div class="card" style="width:20.6rem; margin-top:1rem;">-->
<!--                    <div class="card-body">-->
<!--                        <div class="content-section">-->
<!--                            <h3>Our sidebar</h3>-->
<!--                            <p class="text-muted">You can put any information you want.</p>-->
<!--                            <ul class="list-group" style="width:18rem;">-->
<!--                                <li class="list-group-item">Recently uploaded</li>-->
<!--                                <li class="list-group-item">Announcements</li>-->
<!--                                <li class="list-group-item">Calender</li>-->
<!--                                <li class="list-group-item">Etc</li>-->
<!--                            </ul>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>
