{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card" style="margin-top:1rem;">
    <div class="card-body">
        <div class="content-section">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form_group">
                    <legend class="border-bottom mb-4"><h4>Reset Password</h4></legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Request Password Reset</button>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}