{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="shadow mb-5 mt-2 bg-white rounded">
    <div class="card " style="margin-top:1rem;">
        <div class="card-body">
            <div class="content-section">
                <div class="media">
                    {% if user.profile.profile_pic.url %}
                    <img src="{{user.profile.profile_pic.url}}" class="rounded-circle account-img"
                         style="width:80px; height:80px; margin-right:1rem;">
                    {% else %}
                    <img src="media/default.jpg"
                         class="rounded-circle account-img" style="width:80px; height:80px; margin-right:1rem;">
                    {% endif %}
                    <div class="media-body">
                        <h2 class="account-heading">{{user.username}}</h2>
                        <p>{{user.profile.bio}}</p>
                        <p class="text-secondary">{{user.email}}</p>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary"><a href="{% url 'update_profile' user.username %}"
                                                                               style="color:white;">Edit profile</a>
                            </button>
                            <button class="btn btn-secondary"><a href="{% url 'password_reset' %}" style="color:white;">Reset
                                Password</a></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% for post in posts %}
{% if user.username %}

<div class="shadow mb-4 mt-2 bg-white rounded">
    <div class="card promoting-card mt-3">

        <div class="card-body d-flex flex-row">
            <img src="{{post.author.profile.profile_pic.url}}" class="rounded-circle mr-3" height="50px" width="50px"
                 alt="avatar">
            <div>
                <h4 class="card-title font-weight-bold mb-2"><a href="{% url 'post_detail' post.pk %}"
                                                                style="color:black;">{{post.author}}</a></h4>
                <p class="card-text">{{post.date | date:"F d, Y"}}</p>
            </div>
        </div>
         <img src="{{post.image.url}}" class="card-img-top" alt="...">
        <div class="card-body d-flex flex-row ml-4">
            <h4 style="font-weight:bold">{{post.title}}</h4>
        </div>
        <div class="card-body ml-4">
            <h5>{{post.content| linebreaksbr}}</h5>
        </div>
        <div class="card-body d-flex flex-row ml-4">
            <form action="{% url 'like' post.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mr-2" name="post_like" value="{{post.pk}}">
                    Like <span class="badge badge-light">{{post.likes.count}}</span>
                    <span class="sr-only">unread messages</span>
                </button>
            </form>
            <form action="{% url 'comment' post.pk %}" method="get">
                <button type="submit" class="btn btn-primary mr-2">
                    Comment <span class="badge badge-light">#</span>
                    <span class="sr-only">unread messages</span>
                </button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}



{% if is_paginated %}
<nav aria-label="...">


    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous%}
        <li class="page-item">
            <a class="page-link" href="?page=1">First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a>
        </li>


        {% endif %}
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
        {% elif num > page_obj.number|add:'-1' and num < page_obj.number|add:'1' %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{num}}">{{num}} <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next%}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.paginator.num_pages}}">Last</a>
        </li>

        {% endif %}
    </ul>

    {% endif %}
</nav>


{% endblock content %}