{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <form method="post" enctype="multipart/form-data" class="mt-4">
                {% csrf_token %}
                <fieldset class="form_group">
                    <legend class="border-bottom mb-4"><h4>Update Profile</h4></legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                    <button class="btn btn-outline-info" type="submit"><a href="/post/{{user.username}}/profile">Cancel</a></button>

                </div>
            </form>


{% endblock content %}